<div class="panel-default">
  <div class="panel-heading">
    <h2>Editing pin</h2>
  </div>

  <%= render 'form' %>

  <div class="panel-footer">
    <%= link_to 'Show', @pin %> |
    <%= link_to 'Back', pins_path %>
  </div>
</div>