<div class="jumbotron text-center">
  <h2>What is Pinterest?</h2>
  <p>Pinterest is a pinboard-style photo-sharing website that allows users to create and manage theme-based image collections such as events, interests, and hobbies. Users can browse other pinboards for images, "re-pin" images to their own pinboards, or "like" photos. The site was founded by Ben Silbermann, Paul Sciarra and Evan Sharp.</p>
  <h2>Why was this made?</h2>
  <p>The founder, Rishi Dhanaraj, made this to practice the web framework Rails. He does not plan on releasing this for public use.</p>
  <h2>Can I sign up?</h2>
  <p>Yup, right <%= link_to 'here', new_user_registration_path %>!</p>
</div>