<div class="jumbotron text-center">
  <h2>Welcome to Pinterest, the magical land of Pins</h2>
  <p>
    <%= link_to "Log in", "#", class: "btn btn-default btn-large" %>
    <%= link_to "Sign up", "#", class: "btn btn-primary btn-large" %>
  </p>
  <hr>
  <%= image_tag "pinterest-board.jpeg", class: "img-thumbnail"%>
</div>